<!DOCTYPE html>
<html>
    <head>
        <!--iphone or other device view so it can format correctly-->
        <meta name="viewport" content="with=device-width", initial scale="1.0">
        <title>Athlete Appetite</title>
        <!--to connect to the .css sheet in this case it will be index.css since there will be a different .css pae for each page so there can be easy clean up-->
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>

        <!DOCTYPE html>
<link rel="stylesheet" href="../css/main.css">

<!--icon here-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,200" />
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <h2>A . A .</h2>
                <link rel="icon" type="image/x-icon" href="../profile/favicon.ico">
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="/">HOME</a></li>
                        <li><a href="/templates/about.html">ABOUT</a></li>
                        <li><a href="/templates/search.html"><span class="material-symbols-outlined">
                            search
                            </span></a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
</html>





        <main id="content" class="main-content" role="main">
            <html>
<head>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/index.css" />

</head>
<body>
<h1>About</h1>
<h3>---</h3>

<h2>What is Athlete Appetite ?</h2>

<p>Athlete Appetite is a website for busy athletes to quickly determine what nutritious meal they should make next. Considering the individual's desired cuisine, personal diet, and time available to make food, we provide personalized recommendations to satisfy their hunger. A picture of their potential meal, equipment, ingredients, and nutrition details will all be outputted for full transparency and easy access!</p>

<br />
<br />
<br />
<br />

<h2> Our Mission </h2>

<p>Many student athletes find it really hard to make time in our schedule to plan and make food that we know is beneficial to our body and mind. We have heard many of our peers complain about being malnourished and not having the motivation to start up cooking/baking, so we want to try to provide a super simple and easy to use tool that can help get them started.</p>

<br />
<br />
<br />
<br />

<h1> Creators </h1>


<section class="name">
    <div class="row">
        <div class="name-col">
            <h1><a href="https://github.com/e-shen2022"><img src="../profile/emma.png" /></a></h1>
            <h3>Emma Shen</h3>
            <p1>highschool senior</p1>
        </div>
        <div class="name-col">
            <h1><a href="https://github.com/lunaiwa"><img src="../profile/luna.png" /></a></h1>
            <h3>Luna Iwazaki</h3>
            <p1>highschool junior</p1>
        </div>
    </div>
</section>


</body>
</html>
 
            </footer>
        </main>
    </body>
</html>


