<!DOCTYPE html>
<html>
    <head>
        <!--iphone or other device view so it can format correctly-->
        <meta name="viewport" content="with=device-width", initial scale="1.0">
        <title>Athlete Appetite</title>
        <!--to connect to the .css sheet in this case it will be index.css since there will be a different .css pae for each page so there can be easy clean up-->
        <link rel="stylesheet" href="../css/index.css">
        <link rel="stylesheet" href="../css/main.css">
    </head>
    <body>

        <!DOCTYPE html>
<link rel="stylesheet" href="../css/main.css">


<!--icon here-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,200" />
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <h2>A . A .</h2>
                <link rel="icon" type="image/x-icon" href="../profile/favicon.ico">
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="/">HOME</a></li>
                        <li><a href="/templates/about.html">ABOUT</a></li>
                        <li><a href="/templates/search.html"><span class="material-symbols-outlined">
                            search
                            </span></a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
</html>

        <main id="content" class="main-content" role="main">
            <html>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/index.css" />
  <h1 style="padding-top: 3%;">What do you want to eat?</h1>
  <br/><br />
  <center>
  <h2> what ingredients do you have? </h2>
  <form action="/templates/recipes">
      <div class="input-group mb-3" style="max-width: 50%;">
          <input type="text" class="form-control" placeholder="INGREDIENT" aria-label="Ingredients" aria-describedby="button-addon2" name="ingredients" />
          <div class="input-group-append">

<br />
<br />

<h2>Cuisine craving?</h2>

<select name="cusine" id="cars">
  <option value="asian">Asian</option>
  <option value="greek">Greek</option>
  <option value="italian">Italian</option>

<br />
<br />

<h2></h2>

<select name="cusine" id="cars">

<br />
<br />

<h2>Personal diet?</h2>

<select name="diet" id="cars">
  <option value="vegetarian">Vegetarian</option>
  <option value="keto">Keto</option>
  <option value="pescatarian">Pescatarian</option>


<br />
<br />

<select name="cusine" id="cars">

    <br />
    <br />

<h2>Meal type?</h2>

<select name="mealtype" id="cars">
  <option value="breakfast">Breakfast</option>
  <option value="lunch">Lunch</option>
  <option value="dinner">Dinner</option>

<br />
<br />

<select name="cusine" id="cars">

    <br />
    <br />

<h2>Available time?</h2>

<input type="text" class="form-control" placeholder="minutes" aria-label="minutes" aria-describedby="button-addon2" name="minutes" /> 

<br />
<br />
<br />

<button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>

</select>


</select></select></div></div></form></center></html>
 
            </footer>
        </main>
    </body>
</html>


